.quote-container {
  position: relative;
  width: 500px;
  min-height: 250px;
  border: 1px solid black;
}

.new-quote-button {
  position: absolute;
  right: 6%;
  bottom: 10%;
  width: 100px;
  height: 50px;
}

.new-quote-button:hover {
  cursor: pointer;
}