html {
  font-family: 'Sen', sans-serif;
  font-size: 22px;
}

body {
  background: rgb(255, 255, 255);
}

.main {
  position: relative;
  height: calc(100vh - 50px);
}

.fade-in {
  animation-duration: 1s;
  animation-name: fade-in;
}

@keyframes fade-in {
  from {
    color: rgba(0, 0, 0, 0);
  }

  to {
    color:rgb(0, 0, 0);
  }
}

.quote-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 535px;
  min-height: 113px;
  border: 2px solid rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
  box-shadow: 11px 11px 6px 0px rgb(0 0 0 / 50%);
  background-color: rgb(255, 250, 238);
}

.quote {
  font-family: 'Special Elite', cursive;
  line-height: 1.5;
  margin: 30px auto 50px;
  width: 75%;
  min-height: 9px;
}

.quote-author {
  margin-top: 10px;
}

.new-quote-button {
  font-size: 17px;
  width: 179px;
  height: 50px;
  background-color:rgb(255, 196, 59);
  border: 1px solid rgb(224, 157, 0);
  border-radius: 2px;
}

.new-quote-button:hover {
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  transition: all 0.2s ease-out;
}

.bottom-bar {
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.tweet-quote {
  display: flex;
  align-items: center;
  width: 1.8em;
}

.tweet-quote img {
  width: 100%;
}

.attribute {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}