html {
  font-family: sans-serif;
  font-size: 22px;
}

body {
  background: rgb(255, 255, 255);
}

.main {
  position: relative;
  height: calc(100vh - 50px);
}

.quote-container {
  color: rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 535px;
  min-height: 113px;
  height: auto;
  border: 2px solid rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
}

.quote {
  font-family: 'Special Elite', cursive;
  line-height: 1.5;
  margin: 30px auto 50px;
  width: 75%;
  min-height: 9px;
  /* border: 1px solid red; */
}

.quote-author {
  margin-top: 10px;
}

.new-quote-button {
  font-size: 16px;
  width: 179px;
  height: 50px;
}

.new-quote-button:hover {
  cursor: pointer;
}

.bottom-bar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  /* border: 1px solid red; */
}

.tweet-quote {
  display: flex;
  align-items: center;
  width: 2em;
  /* border: 1px solid green; */
}

.tweet-quote img {
  width: 100%;
  padding-top: 1px;
  padding-bottom: 1px;
}

.attribute {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}